# Exploratory Data Analysis


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mahdi-ebrahimi-per/Data-Science/blob/main/3-%20EDA/Exploratory%20Data%20Analysis.ipynb)

In [2]:
#import Librarys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# univariate
# multivariate
# bivariate

# مرکزیت
# توزیع
# نمودار

df_tmp = pd.read_csv("coin_Bitcoin.csv")
df_tmp.head()
# print(df_tmp["Low"])

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [4]:
class EDA:
    def __init__(self, csv_Addr):
        # import all csv file as df
        self.csv_Addr = csv_Addr
        self.df = pd.read_csv(csv_Addr)
 
        # self.df[column] = None

        # self.describe()

    def describe(self, column):
        if column:
            try:
                self.alls = self.df[column].describe()
                self.count = self.df[column].describe()["count"]
                self.mean = self.df[column].describe()["mean"]
                self.std = self.df[column].describe()["std"]
                self.min = self.df[column].describe()["min"]
                self.Q1 = self.df[column].describe()["25%"]
                self.Q2 = self.df[column].describe()["50%"]
                self.median = self.df[column].describe()["50%"]
                self.Q3 = self.df[column].describe()["75%"]
                self.max = self.df[column].describe()["max"]

            except:
                raise ValueError("column name is incorrect")

        else:
            raise ValueError("fill 'column' argument")

    
    def distrib(self, column):
        self.describe(column)
        if column:
            try:
                self.IQR = self.Q3 - self.Q1
                self.variance = np.var(self.df[column])
                self.semi_variance = None
                self.std = np.std(self.df[column])


            except:
                raise ValueError("column name is incorrect")

        else:
            raise ValueError("fill 'column' argument")        


# main - all - table - check data type

In [9]:
sample = EDA("./coin_Bitcoin.csv")

sample.describe("Low")
print(sample.alls)

sample.distrib("Low")
print(sample.IQR)


# sample.slice_column("Low", (200,1000))
# sample.slice_column("High", (200,1000))

# sample.plot(["Low", "High"])

count     2862.000000
mean      4695.103027
std       6667.197596
min         65.526001
25%        415.675751
50%       1164.174988
75%       7703.357500
max      55672.609513
Name: Low, dtype: float64
7287.681749267578