# Exploratory Data Analysis


[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/mahdi-ebrahimi-per/Data-Science/blob/main/3-%20EDA/Exploratory%20Data%20Analysis.ipynb)

In [4]:
#import Librarys

import numpy as np
import pandas as pd
import matplotlib.pyplot

In [5]:
# univariate
# multivariate
# bivariate

# مرکزیت
# توزیع
# نمودار

In [51]:
class EDA:
    def __init__(self, csv_Addr):
        # import all csv file as df
        self.csv_Addr = csv_Addr
        self.df = pd.read_csv(csv_Addr)

        self.values = None

        self.describe()

    def describe(self):
        if self.values:
            self.alls = self.values.describe()
            self.count = self.values.describe()["count"]
            self.mean = self.values.describe()["mean"]
            self.std = self.values.describe()["std"]
            self.min = self.values.describe()["min"]
            self.Q1 = self.values.describe()["25%"]
            self.Q2 = self.values.describe()["50%"]
            self.median = self.values.describe()["50%"]
            self.Q3 = self.values.describe()["75%"]
            self.max = self.values.describe()["max"]

In [53]:
sample = EDA("./coin_Bitcoin.csv")
print(sample.median)

sample.series.head()

2.0

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09